<div th:fragment="header">
    <div>
        <nav>
            <div><a href="/way-point/way-points">Way points</a></div>
            <div><a href="/way-point/add">Add New Way Point</a></div>
            <div><a href="/airplane-characteristic/all/">Airplane Characteristics</a></div>
            <div><a href="/airplane-characteristic/add">Add New Airplane Characteristic</a></div>
            <div><a href="/flight/all-flights">Flights</a></div>
            <div><a href="/flight/add-flight">Add New Flight</a></div>
            <div><a href="/airplane/airplanes">Airplanes</a></div>
            <div><a href="/airplane/add-airplane">Add New Airplane</a></div>
            <div><a href="/airplane/updateAirplanePosition">Update Airplanes Position</a></div>
        </nav>
    </div>
</div>